:root{

    /*
    *colors
    */
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: hsl(220, 100%, 52%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);

    /*
    *typography
    */
    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;

    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
    
    /*
    *border-radius
    */
    --border-radius-md: 10px;
    --border-radius-sm: 5px;
    
    /*
    *transition
    */
    --transition-timing: 0.2s ease;
 }



/* Reponsive large  than 480px screen  */

@media (min-width: 480px) {

    /* #custum property  */

    :root {

        /* Typography */

        --fs-1: 1.875rem;
    }

    /* HEADER  */

    .header-top {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid var(--cultured);
    }

    .header-social-container,
    .header-top-actions { display: none; }

    .header-alert-news {
        color: var(--sonic-silver);
        font-size: var(--fs-9);
        text-transform: uppercase;
    }

    .header-alert-news b {  font-weight: var(--weight-600); }

    .header-main { padding: 25px 0; }

    .mobile-bottom-navigation {
        border-top-left-radius: var(--border-radius-md);
        border-top-right-radius: var(--border-radius-md);
    }

    /* Banner */

    .slider-item{  aspect-ratio: 5 / 3;}

    .banner-content{
        top: 50%;
        right: auto;
        bottom: auto;
        transform: translateY(-50%);
        max-width: 320px;
    }
    
    .banner-subtitle { --fs-7: 1rem; }

    .banner-text{
        display: block;
        color: var(--sonic-silver);
        font-size: var(--fs-7);
        font-weight: var(--weight-500);
        margin-bottom: 10px;
    }

    .banner-text b { font-size: var(--fs-2); }

    .banner-btn { padding: 7px 20px;}

    /* PRODUCT  */
    .product-grid{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    /* CTA  */

    .cta-content { padding: 40px; }

    .cta-content .discount{
        --fs-11: 0.875rem;
        padding: 5px 10px;
    }
    .cta-title { --fs-5: 1.5rem; }
    .cta-text { --fs-7: 1rem; }
    .cta-btn { --fs-9: 1rem; }

    /* Footer  */

    .copyright{ --fs-8: 0.875rem; }

    /* Navbar sidebars */

    .mobile-navigation-menu,
    .sidebar { 

        max-width: 400px;

    }

}

/* Reponsive large  than 570px screen  */
@media (min-width: 570px) {

    /* Header  */

.header-top .container,
.header-main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{ margin-bottom: 0; }

.header-top-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-top-actions select {
    border: none;
    display: block;
    min-width: 80px;
    padding: 5px 0;
    font: inherit;
    color: silver;
    font-size: var(--fs-8);
    text-transform: uppercase;
    cursor: pointer;
    transition: var(--transition-timing);
}

.header-top-actions select:hover { color: var(--eerie-black); }

.header-search-container { min-width: 300px;}

/* BANNER  */

.slider-item { aspect-ratio: 4 / 2; }

.banner-content { background: none; }


/* Category */

.category-item-container{ gap: 30px;}

.category-item { min-width: calc(50% - 15px); }

/* Product  */

.product-minimal .showcase-container { min-width: 50%; }

.product-featured .showcase-img{
    max-width: 450px;
    margin: auto;
}

.product-featured .countdown { gap: 20px; }

/* #CTA */

.cta-container { aspect-ratio: 6 / 5; }

/* #BLOG */

.blog-container { gap: 30px; }

.blog-card { min-width: calc(50% - 15px); }

}

/* Reponsive large  than 786px screen  */

@media (min-width: 786px) {

    /* Custum property  */

    :root {
        --fs-1: 2.375rem;
    }


    /* BASE  */

    html { font-size: 17px; }

    /* #REFUSED STYLE  */

    .container {
        max-width: 750px;
        margin: auto;
    }

    /* MODAL */

    .modal-content{
        display: flex;
        align-items: center;
        max-width: 750px;
        width: fit-content;
    }

    .newsletter-img{ display: block; }

    .newsletter { text-align: left; }

    /* HeADER  */

    .header-main .container { gap: 80px; }

    .header-search-container { flex-grow: 1; }

    /* #Banner */

    .slider-item{
        aspect-ratio: auto;
        height: 350px;
    }

    .banner-content { max-width: 380px; }

    .banner-subtitle { --fs-7: 1.25rem; }

    .banner-text { --fs-7: 1.125rem; }
    
    .banner-text b { --fs-2: 1.875rem; }
    
    .banner-btn { --fs-11: 0.75rem; }


    /* CATEGORY  */

    .category-img-box{ padding: 20px; }

    /* #Product */

    .product-minimal {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .product-minimal .product-showcase{
        min-width: calc(50% - 10px);
        width: calc(50% - 10px);
    }

    .product-minimal .showcase-container { min-width: 100%; }

    .product-featured .showcase{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }


    .product-featured .showcase-img{ max-width: fit-content; }

    .product-featured .showcase-content{
        margin-top: 0;
        min-width: calc(100% - 345px);
    }

    /* Footer  */
    .footer-nav .container{

        display: flex;
        flex-wrap: wrap;
        row-gap: 50px;
        column-gap: 20px;
    }

    .footer-nav-list {
        min-width: calc(33.33% - 15px );
        width: calc(33.33% - 15px );
        flex-grow: 1;
    }


    .footer-nav-list:not(:last-child) { margin-bottom:0; }
}

/* Reponsive large  than 1024px screen  */

@media (min-width: 1024px) {

    /* Custum property  */

    :root{
        --fs-1: 2.625rem;
        --fs-2: 1.125rem;
    }

    /* Refused Style  */

    .container{ max-width: 980px; }


    /* Notification Toast  */

    .notification-toast { bottom: 30px; }


    /* Header  */

    .header-social-container{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .header-social-container .social-link{
        padding: 5px;
        background: hsl(0, 0%, 95%);
        border-radius: var(--border-radius-sm);
        color: var(--sonic-silver);
        transition: var(--transition-timing);
    }

   .header-social-container .social-link:hover{
    background: var(--zoom-blue);
    color: var(--white);
   }

   .header-user-actions {
    display: flex;
    align-items: center;
    gap: 15px;
   }

   .header-user-actions .action-btn{
    position: relative;
    font-size: 35px;
    color: var(--onyx);
    padding: 5px;
   }

  .header-user-actions .count{
    position: absolute;
    top: -2px;
    right: -3px;
    background: var(--bittersweet);
    color: var(--white);
    font-size: 12px;
    font-weight: var(--weight-500);
    line-height: 1;
    padding: 2px 4px;
    border-radius: 20px;
  }


  .desktop-navigation-menu{ display: block; }

  .desktop-menu-category-list{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 15px;
  }

  .desktop-menu-category-list .menu-category:not(:nth-child(2)){position: relative; }

  .desktop-menu-category-list .menu-category > .menu-title {
    position: relative;
    color: var(--onyx);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    padding: 15px 0;
    transition: var(--transition-timing);
  }

  .desktop-menu-category-list .menu-category > .menu-title:hover {  color: var(--zoom-blue); }

  .desktop-menu-category-list  .menu-category > .menu-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--zoom-blue);
    transform: scaleX(0);
    transform-origin: left;
    transition: var(--transition-timing);
  }

  .desktop-menu-category-list  .menu-category > .menu-title:hover::after {
    transform: scaleX(1);
  }


   .dropdown-panel{
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--white);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 30px;
    border: 1px solid var(--cultured);
    box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
    border-radius: var(--border-radius-md);
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition-timing);
    z-index: 5;
  }



  .desktop-menu-category-list .menu-category:hover > .dropdown-panel {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .dropdown-panel-list .menu-title a{
    color: var(--onyx);
    font-size: var(--fs-7);
    text-transform: capitalize;
    transition: var(--transition-timing);
  }

  .panel-list-item a{
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    text-transform: capitalize;
    transition: var(--transition-timing);
  }

  .panel-list-item a:hover{ color: var(--zoom-blue); }
   
  .panel-list-item:not(:last-child) a { padding: 4px 0; }

  .panel-list-item:last-child { margin-top: 20px; }

  .panel-list-item img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-sm);
  }

  .dropdown-list{
    position: absolute;
    top: 100%;
    left: 0;
    width: 170px;
    background: var(--white);
    padding: 20px 10px;
    border-radius: var(--border-radius-md);
    border: 1px solid var(--cultured);
    box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition-timing);
    z-index: 5;
  }

  .desktop-menu-category-list .menu-category:hover > .dropdown-list {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .dropdown-list .dropdown-item a{
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    text-transform: capitalize;
    padding: 4px 20px;
    transition: var(--transition-timing);
  }

  .dropdown-list .dropdown-item a:hover {
    color: var(--zoom-blue);
  }

  .cover { display: none; }

   
  /* Banner  */

  .banner { margin-top: 0; }

  .slider-item { height: 380px; }

  .banner-content {
    left: 75px;
    max-width: 400px;
  }

  .banner-subtitle { --fs-7: 1.625rem; }

  .banner-text { --fs-7: 1.375rem; }
  
  .banner-btn { --fs-11: 0.875rem; }

  /* Category  */

  .category-item { min-width: calc(33.33% - 20px); }

  .category-img-box { padding: 10px; }

  /* #Products */

  .product-container .container{
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 30px;
  }

.sidebar {
    --fs-5: 0.941rem;
    position: sticky;
    top: 30px;
    left: 0;
    padding: 0;
    min-width: calc(25% - 15px);
    margin-bottom: 30px;
    visibility: visible;
    overflow-y: auto;
    overscroll-behavior: auto;
    z-index: 0;
}

.sidebar-category {
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
}

.sidebar-close-btn{  display: none; }

.product-box { min-width: calc(75% - 15px); }

.product-minimal { margin-bottom: 20px; }

.product-minimal .product-showcase {
    min-width: calc(33.33% - 14px);
    width: calc(33.33% - 14px);
    flex-grow: 1;
}

.product-minimal .showcase-wrapper {  gap: 10px; }

.product-minimal .showcase-container { padding: 2px; }

.product-featured .countdown-content { padding: 5px 10px; }

.product-grid { grid-template-columns: repeat(3, 1fr); }


/* #testimonial,CTA & Services  */

.testimonials-box{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 30px;
}

.testimonial-card{ margin-bottom: 0; }

.testimonial, .cta-container {
    min-width: calc(50% - 15px);
    width: calc(50% - 15px);
    margin-bottom: 0;
}

.service { width: 100%; }

.service-container{ gap: 0; }

.service-item{
    flex-direction: column;
    text-align: center;
    min-width: 20%;
}

/* BLOg  */

.blog-card { min-width: calc(33.33% - 20px); }

.blog-title { --fs-5: 1rem; }


/* FOOTER  */

.footer-nav-list {
    min-width: calc(20% - 16px);
   width: calc(20% - 16px);
}

.footer-nav-list:last-child { display: none; }

.footer-bottom { margin-bottom: 0; }

}

/* Reponsive large  than 1024px screen  */


@media (min-width: 1200px) {

    /* Refused style  */

    .container { max-width: 1200px; }

    /* Header  */

    .desktop-menu-category-list { gap: 45px; margin-bottom: 15px; }

    /* Banner  */

    .slider-item:last-child .banner-img { object-position: top; }

    /* Category  */

    .category-item { min-width: calc(25% - 22.5px); }

    .category-item-title { --fs-9: 0.824rem; }

    /* Product  */

    .product-featured .showcase > div {min-width: calc(50% - 10px); }

    .product-featured .display-number{ --fs-5: 1.125rem; }

    .product-grid { grid-template-columns: repeat(4, 1fr); }


    /* #Testimoninal,CTA, SERVICES */

.testimonial, .service {
    min-width: calc(25% - 20px);
    width: calc(25% - 20px);
}

.cta-container {
    min-width: calc(50% - 20px);
    width: calc(50% - 20px);
    aspect-ratio: unset;
}

.service-container {
    justify-content: flex-start;
    gap: 16px;
    padding: 30px;
}

.service-item{
    flex-direction: row;
    text-align: left;
}


/* BLOg  */

.blog { margin-bottom: 50px; }
.blog { margin-top: 50px; }


.blog-card { min-width: calc(25% - 22.5px); }


/* FOOTER  */

.footer{ padding-top: 50px; }

.footer-category {
    margin-bottom: 50px;
    padding-bottom: 35px;
}

.footer-nav { padding-bottom: 50px; }


/* Logo  */

.header-logo img {
    margin: auto;
    margin-top: 0px;
}

}












